<div>
  <h3>King <%= prompt.king.first_name_and_last_initial %> has issued the following decree:</h3>

  <h2><%= prompt.content %></h2>

  <%= render partial: 'responses/form', locals: {prompt: prompt} if logged_in? && prompt.current && !current_user.already_responded?(prompt.id) %>

  <%= render prompt.responses %>
</div>
