<h1><%= @user.first_name_and_last_initial %>'s Past Responses:</h1>

<% @user.responses.each do |response| %>

<div>
  <h3><strong>King <%= response.prompt.king.first_name_and_last_initial %></strong> has issued the following decree:</h3>

  <div class="panel-default">
    <div class="panel-heading">
      <h2 class="panel-title prompt-content">
        <strong>"<%= response.prompt.content %>"</strong>
      </h2>
    </div>
    <div class="panel-body">
      <%= render response %>
    </div>
  </div>
</div>
<br />
<br />

<% end %>
